# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [52]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [53]:
users = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user",sep='|')

### Step 3. Assign it to a variable called users.

In [54]:
users

     user_id  age gender     occupation zip_code
0          1   24      M     technician    85711
1          2   53      F          other    94043
2          3   23      M         writer    32067
3          4   24      M     technician    43537
4          5   33      F          other    15213
..       ...  ...    ...            ...      ...
938      939   26      F        student    33319
939      940   32      M  administrator    02215
940      941   20      M        student    97229
941      942   48      F      librarian    78209
942      943   22      M        student    77841

[943 rows x 5 columns]

### Step 4. Discover what is the mean age per occupation

In [55]:
users.groupby('occupation')['age'].mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [56]:
male = pd.crosstab(users['occupation'],users['gender'],margins=True)
male_count = male['M']
tt_count = male['All']
male['ratio'] = male_count / tt_count

male.sort_values(by='ratio',ascending=False)

gender           F    M  All     ratio
occupation
doctor           0    7    7  1.000000
engineer         2   65   67  0.970149
technician       1   26   27  0.962963
retired          1   13   14  0.928571
programmer       6   60   66  0.909091
executive        3   29   32  0.906250
scientist        3   28   31  0.903226
entertainment    2   16   18  0.888889
lawyer           2   10   12  0.833333
salesman         3    9   12  0.750000
educator        26   69   95  0.726316
All            273  670  943  0.710498
student         60  136  196  0.693878
other           36   69  105  0.657143
marketing       10   16   26  0.615385
writer          19   26   45  0.577778
none             4    5    9  0.555556
administrator   36   43   79  0.544304
artist          13   15   28  0.535714
librarian       29   22   51  0.431373
healthcare      11    5   16  0.312500
homemaker        6    1    7  0.142857

### Step 6. For each occupation, calculate the minimum and maximum ages

In [57]:
users.filter(['age','occupation']).groupby('occupation').min()

               age
occupation
administrator   21
artist          19
doctor          28
educator        23
engineer        22
entertainment   15
executive       22
healthcare      22
homemaker       20
lawyer          21
librarian       23
marketing       24
none            11
other           13
programmer      20
retired         51
salesman        18
scientist       23
student          7
technician      21
writer          18

In [58]:
users.filter(['age','occupation']).groupby('occupation').max()

               age
occupation
administrator   70
artist          48
doctor          64
educator        63
engineer        70
entertainment   50
executive       69
healthcare      62
homemaker       50
lawyer          53
librarian       69
marketing       55
none            55
other           64
programmer      63
retired         73
salesman        66
scientist       55
student         42
technician      55
writer          60

### Step 7. For each combination of occupation and gender, calculate the mean age

In [61]:
users.filter(['occupation','gender','age']).groupby(['occupation','gender']).mean()

                            age
occupation    gender
administrator F       40.638889
              M       37.162791
artist        F       30.307692
              M       32.333333
doctor        M       43.571429
educator      F       39.115385
              M       43.101449
engineer      F       29.500000
              M       36.600000
entertainment F       31.000000
              M       29.000000
executive     F       44.000000
              M       38.172414
healthcare    F       39.818182
              M       45.400000
homemaker     F       34.166667
              M       23.000000
lawyer        F       39.500000
              M       36.200000
librarian     F       40.000000
              M       40.000000
marketing     F       37.200000
              M       37.875000
none          F       36.500000
              M       18.600000
other         F       35.472222
              M       34.028986
programmer    F       32.166667
              M       33.216667
retired       F       70.000000
              M       62.538462
salesman      F       27.000000
              M       38.555556
scientist     F       28.333333
              M       36.321429
student       F       20.750000
              M       22.669118
technician    F       38.000000
              M       32.961538
writer        F       37.631579
              M       35.346154

### Step 8.  For each occupation present the percentage of women and men

In [67]:
count_gender = pd.crosstab(users['occupation'],users['gender'],margins="True")
count_gender['M-percent'] = count_gender['M'] / count_gender['All'] * 100
count_gender['F-percent'] = count_gender['F'] / count_gender['All'] * 100
count_gender

gender           F    M  All   M-percent  F-percent
occupation
administrator   36   43   79   54.430380  45.569620
artist          13   15   28   53.571429  46.428571
doctor           0    7    7  100.000000   0.000000
educator        26   69   95   72.631579  27.368421
engineer         2   65   67   97.014925   2.985075
entertainment    2   16   18   88.888889  11.111111
executive        3   29   32   90.625000   9.375000
healthcare      11    5   16   31.250000  68.750000
homemaker        6    1    7   14.285714  85.714286
lawyer           2   10   12   83.333333  16.666667
librarian       29   22   51   43.137255  56.862745
marketing       10   16   26   61.538462  38.461538
none             4    5    9   55.555556  44.444444
other           36   69  105   65.714286  34.285714
programmer       6   60   66   90.909091   9.090909
retired          1   13   14   92.857143   7.142857
salesman         3    9   12   75.000000  25.000000
scientist        3   28   31   90.322581   9.677419
student         60  136  196   69.387755  30.612245
technician       1   26   27   96.296296   3.703704
writer          19   26   45   57.777778  42.222222
All            273  670  943   71.049841  28.950159